@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h3>Ticket Manager</h3>

<div class="d-flex gap-2 mt-4">
    <a class="btn btn-primary" href="funcionarios">👥 Funcionários</a>
    <a class="btn btn-secondary" href="tickets">🎫 Tickets</a>
    <a class="btn btn-success" href="relatorios">📊 Relatórios</a>
</div>
